.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
    text-align: center;
}

.link {
    color: var(--color-theme-blur);
    transition: 0.15s;
}

.link:hover {
    color: var(--color-theme);
    cursor: pointer;
}
