.container {
    padding: 1rem;
    width: 80vw;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.topDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.mainDiv {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    column-gap: 5rem;
}

.contents {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.toggles {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

.workbookTitles {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: column;
    row-gap: 1rem;
    background-color: var(--color-theme-blur);
    border-radius: 0.5rem;
}

.workbookTitle,
.typeLabel {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.15s;
}

.workbookTitle:hover {
    font-weight: 800;
}

.text,
.disclaimer {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
    text-align: center;
}

.disclaimer {
    margin: 0;
    text-align: left;
    font-style: italic;
    color: var(--color-text-blur);
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.typeLabel {
    text-decoration: underline;
    cursor: text;
}

.workbookContainer {
    width: 60%;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.title,
.editorWorkbookTitle {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    text-align: left;
}

.editorWorkbookTitle {
    font-size: 1.2rem;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link {
    color: var(--color-theme-blur);
    transition: 0.15s;
}

.link:hover {
    color: var(--color-theme);
    cursor: pointer;
}

.buttons {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
}

.button,
.buttonGreen,
.greenButton,
.blueButton,
.toggle {
    font-size: 1rem;
    outline: none;
    background: none;
    cursor: pointer;
    margin: 0;
    min-width: 90px;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid var(--color-theme);
    color: var(--color-text);
    transition: 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    column-gap: 0.5rem;
}

.buttonGreen {
    border-color: #22c55e;
    padding: 0.5rem;
    color: #22c55e;
    cursor: text;
}

.greenButton {
    border-color: #22c55e;
}

.blueButton {
    border-color: #0ea5e9;
}

.toggle {
    border: none;
    border-radius: 0;
    padding: 0;
    justify-content: flex-start;
    font-weight: 800;
}

.button:hover,
.toggle:hover {
    color: var(--color-theme) !important;
}

.greenButton:hover {
    color: #22c55e;
}

.blueButton:hover {
    color: #0ea5e9;
}

.workbookDetails {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5rem;
}

.input {
    outline: none;
    background: none;
    border: 1px solid var(--color-theme-blur);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    margin: 0;
    color: var(--color-text);
    font-size: 1rem;
}

.input:focus {
    border: 1px solid var(--color-theme);
}

.editorArea {
    width: 100%;
    min-height: 60vh;
    padding: 0;
    font-size: 1rem;
}

.sub {
    font-size: 0.8rem;
    color: var(--color-text-blur);
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0;
    width: 100%;
    text-align: left;
}

@media (max-width: 700px) {
    .container {
        width: 90vw;
    }

    .topDiv {
        justify-content: center;
        flex-direction: column;
    }

    .workbookDetails {
        width: 90%;
    }

    .title {
        text-align: center;
    }

    .contents,
    .workbookContainer,
    .editorWorkbookTitle {
        width: 100%;
    }

    .toggles {
        justify-content: center;
    }

    .buttons {
        justify-content: center;
        align-items: stretch;
        margin-top: 1rem;
        row-gap: 1rem;
        flex-direction: column;
        width: 90%;
    }

    .mainDiv {
        flex-direction: column;
        row-gap: 2rem;
    }
}
